html(lang="en")
    <meta property="og:title" content="Tyler's Website" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://treelar.com" />
    <meta property="og:description" content="Why not learn about some dude that makes bad (good) robots, epic games (Reverse Game), horribly inefficient code, can speak very english sounding japanese, and becomes a weeb because some filipino guy shows him a circle clicking game..." />
    <meta property="og:image" content="https://treelar.com/img/logoassets/avatar8192x8192.png" />
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
    link(rel="stylesheet", href="../app.css")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet")
    meta(charset="utf-8")
    body
        div#container(style="width: 100vw; height: 100vh;")
            div#introdiv(style="width: 100%; height:100%; margin:0; padding:0")
                div#background()
                img#mainlogo(src="/img/logoassets/logowobg.svg")
                h1#name
                    |ninjawarrior1337 (Tyler)
                    br
                    br
                    |web design // 
                    |badly programmed jokes // 
                    |weeb garbage
                i#downArrow(class="fas fa-arrow-down")
            div#info(style="width: 100%; height:100%; margin:0; padding:0")
                div#inset=""
                    p.menacing#menacingL="ゴゴゴゴゴゴゴゴゴゴゴゴゴゴ"
                    img#card-logo(src="/img/logoassets/logo.svg")
                    p.menacing#menacingR="ゴゴゴゴゴゴゴゴゴゴゴゴゴゴ"
                    .info-section#info1
                        h5="Programming Experience"
                        ul
                            li="Java"
                            li="JavaScript"
                            li="Python"
                            li="C#"
                            li="HTML.........lol jk"
                    .info-section#info2
                        h5="Other Projects"
                        ul
                            li
                                a(href="http://reverse.treelar.com" target="blank")="Reverse Game"
                            li="Dis Dude (Discord Bot)"
                            li="Satania App (Windows/Linux)"
                            li="Megumin App (Android/Windows)"
                            li="This Website Lol"
                            li 
                                a(href="http://sightlines.us", target="blank")="Sightlines"
                    .info-section#info3
                        h5="Interests"
                        ul
                            li="Learning Languages (Other than programming)"
                            li
                                a(href="/anime")="Anime...Mari best girl"
                            li="osu!"
                            li="Bypassing and Exploitation of Poor Design"





















script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
script(src="app.js")
script(src="js/vendor.js")
script="main = require('main.js');"
script="require('initialize.js');"
script="main()"